@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass+Mono:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #141414;
  font-family: "Inter", serif;
}

a {
  text-decoration: none;
	color: unset;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.abs {
  position: absolute;
}

.🖼️ {
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  pointer-events: none;
}

.circle-1 {
  width: 241px;
  height: 241px;
  background: rgba(148, 0, 211, 0.65);
  filter: blur(180px);
  top: -52px;
  right: -52px;
}

.circle-2 {
  width: 241px;
  height: 241px;
  background: rgba(0, 255, 255, 0.5);
  filter: blur(180px);
  left: -52px;
  bottom: -52px;
}

.card {
  display: flex;
  width: 424px;
  padding-bottom: 52px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 36px;
  background: #1f1f1f;
}

.card-head {
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-bottom: 1px solid #8c8c8c;
}

.card-head__circle {
  border-radius: 96px;
  background: url("https://i.postimg.cc/WbTXCZTw/IMG-0524f.jpg") -10.898px -12.31px /
    112.798% 165.896% no-repeat;
  width: 96px;
  height: 96px;
}

[data-testid="fullName"] {
  color: #eaeaea;
  font-size: 32px;
  font-weight: 900;
}
[data-testid="jobTitle"] {
  color: #eaeaea;
  font-size: 20px;
  font-weight: 700;
}

.card-body {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.card-body h1 {
  color: #eaeaea;
  font-size: 32px;
  font-weight: 700;
	display: none;
}

.card-body p {
  font-family: "Overpass Mono", serif;
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 500;
  /* text-align: justify; */
}

.card-footer {
  display: flex;
  padding: 4px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.card-footer__location,
.card-footer__mail {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-footer__location p,
.card-footer__mail a {
  color: #eaeaea;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}

.card-footer__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-self: stretch;
}

.card-footer__time p {
  font-family: "Overpass Mono", serif;
  color: #fff;
  font-weight: 300;
}

.card-footer__time-socials {
  display: flex;
  align-items: center;
  gap: 8px;
}


@media screen and (max-width:834px) {
	
}