@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass+Mono:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background: #141414;
	overflow: hidden;
  font-family: "Inter", serif;
}

a {
  text-decoration: none;
  color: unset;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.abs {
  position: absolute;
}

.🖼️ {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  pointer-events: none;
}

.glow {
  width: 241px;
  height: 241px;
}

.circle-1 {
  background: rgba(148, 0, 211, 0.65);
  filter: blur(180px);
  top: -52px;
  right: -52px;
}

.circle-2 {
  background: rgba(0, 255, 255, 0.5);
  filter: blur(180px);
  left: -52px;
  bottom: -52px;
}

.card {
  display: flex;
  width: 424px;
  padding-bottom: 52px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 36px;
  background: #1f1f1f;
  z-index: 4;

  background: linear-gradient(
    165deg,
    rgba(31, 31, 31, 0.75) 2.71%,
    rgba(31, 31, 31, 0.85) 89.48%
  );
}

.card-head {
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-bottom: 1px solid #8c8c8c;
}

.card-head__circle {
  border-radius: 96px;
  background: url("https://i.postimg.cc/WbTXCZTw/IMG-0524f.jpg") -10.898px -12.31px /
    112.798% 165.896% no-repeat;
  width: 96px;
  height: 96px;
}

[data-testid="fullName"] {
  color: #eaeaea;
  font-size: 32px;
  font-weight: 900;
}

[data-testid="jobTitle"] {
  color: #eaeaea;
  font-size: 20px;
  font-weight: 700;
}

.card-body {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.card-body h1 {
  color: #eaeaea;
  font-size: 32px;
  font-weight: 700;
  display: none;
}

[data-testid="shortBio"] {
  font-family: "Overpass Mono", serif;
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 500;
  /* text-align: justify; */
}

.card-footer {
  display: flex;
  padding: 4px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.card-footer__location,
.card-footer__mail {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-footer__location p,
.card-footer__mail a {
  color: #eaeaea;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}

.card-footer__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-self: stretch;
}

.card-footer__time p {
  font-family: "Overpass Mono", serif;
  color: #fff;
  font-weight: 300;
  text-decoration: underline;
}

.card-footer__time-socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.extra-time {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  top: 56px;
  left: 64px;
}

.extra-time__type {
  font-size: 20px;
  font-style: italic;
  color: #fff;
  font-weight: 300;
}

#extra-time {
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
  font-size: 48px;
  font-weight: 900;
}

.my-name {
  right: 64px;
  bottom: 72px;
  transform: rotate(-90deg);
  color: #fff;
}

.last-name {
  font-size: 32px;
  font-weight: 900;
}

.first-name {
  font-size: 40px;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  margin-top: -24px;
}

@media screen and (max-width: 834px) {
  .glow {
    width: 345px;
    height: 345px;
    flex-shrink: 0;
    filter: blur(232px);
  }

  .🖼️ {
    width: 777px;
  }

  .extra-time {
    left: 40px;
    top: 52px;
  }
}

@media screen and (max-width: 428px) {
  .🖼️ {
    width: 648px;
  }

  .glow {
    width: 200px;
    height: 200px;
    filter: blur(180px);
  }

  .card {
    width: 100%;
    border-radius: 24px;
  }

  [data-testid="fullName"] {
    font-size: 24px;
  }

  [data-testid="jobTitle"] {
    font-size: 16px;
  }

  .card-head {
    gap: 8px;
    padding: 16px 24px;
  }

  .card-head__circle {
    width: 64px;
    height: 64px;
  }

  .card-footer__mail a {
    font-size: 14px;
  }

  .extra-time {
    top: 24px;
    left: 24px;
  }

  .extra-time__type {
    font-size: 12px;
  }

  #extra-time {
    font-size: 32px;
    -webkit-text-stroke: 1px #ffffff;
  }

	.my-name {
		transform: rotate(0deg);
		right: 24px;
		bottom: 24px;
	}

	.last-name {
		font-size: 24px;
	}

	.first-name {
		font-size: 32px;
		margin-top: -16px;
	}
}